@charset "UTF-8";

.footer {
    background-color: #111827; /* grigio molto scuro */
    color: #d1d5db;           /* grigio chiaro */
}

.footer-container {
    max-width: 1280px;
    margin: auto;
    padding: 30px 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
}
